
<div *ngFor="let f of firs">
    
        <div class="card">
            <div class="card-body">
              <b>Date :</b>&nbsp;<i>{{f.date}}</i><br>
              <b>Time :</b>&nbsp;<i>{{f.time}}</i><br>
              <b>type of crime :</b>&nbsp;<i>{{f.typeofcrime}}</i><br>
              <b>event :</b>&nbsp;<i>{{f.event}}</i><br>
              <b>suspect :</b>&nbsp;<i>{{f.suspectdetails}}</i><br>
              <b>status :</b>&nbsp;<i>{{f.status}}</i><br>


                </div>                   
             </div>
       

</div>