
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">   
    <div class="card mt-3" style="width:350px">
        <img class="card-img-top" src="../assets/user4.png" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">{{user.name}}</h4>
            <p class="card-text">
                <i class="fa fa-id-card" aria-hidden="true">{{user.aadharnum}}</i></p>
            <p class="card-text">
                <i class="fa fa-phone" aria-hidden="true">{{user.phno}}</i></p>
            <p class="card-text">
                <i class="fa fa-map-marker" aria-hidden="true"></i> {{user.address}}</p>
            <button class="btn btn-primary" (click)='continue()'>Continue</button>&nbsp;
            <button class="btn btn-primary" (click)='cancel'>Cancel
            </button>
        </div>
        
    </div>
    </div>
    

    </div>
    </div>
