<div class="container">
   <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
         <h1 align="center"><b>FIR</b></h1>
<div class="jumbotron">
 <div >
    <span><h4>Aadhar Number:<i>{{fir.aadharnum}}</i></h4></span><br>
    <span><h4>Date           :<i>{{fir.date}}</i></h4></span><br>
    <span><h4>Time           :<i>{{fir.time}}</i></h4></span><br>
   <span> <h4>Type of Crime   :<i>{{fir.typeofcrime}}</i></h4></span><br>
    <span><h4>Event Description:<i>{{fir.event}}</i></h4></span><br>
    <span><h4>Suspect Details   :<i>{{fir.suspectdetails}}</i></h4></span><br>

    <button class="btn btn-success" type="submit" (click)="file()">File FIR</button>&nbsp;&nbsp;
    <button  class="btn btn-danger" type="submit" (click)="cancel()">Cancel</button>
</div>
 </div>
</div>
</div>