
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6  col-md-6 form-container">
                    <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                        <div class="logo mb-3  mt-3">
                            <img src="/assets/logo1.png" width="100px" >
                        </div>
                        <div class="heading mb-3">
                            <h4>Login to your account</h4>
                        </div>
                        <form #f="ngForm">
                            <div class="form-input">
                                <span><i class="fa fa-user-circle"></i> </span>
                                <input type="text" placeholder="Username" required name="username" [(ngModel)]="username">
                            </div>
                            <div class="form-input">
                                <span><i class="fa fa-lock"></i> </span>
                                <input type="password" placeholder="Password" required name="password" [(ngModel)]="password">
                            </div>
                            <div class="row mb-4">
                                <div class="col-6 d-flex">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="cb1">
                                        <label class="custom-control-label text-black" for="cb1" >Remember Me</label>
                                    </div>
                                </div>
                            <div class="col-6 text-right">
                            <a href="forget.html" class="forget-link">Forgot Password</a>
                        </div> 
                            </div>
                               <div class="text-left mb-3">
                                   <button type="submit" class="btn" (click)="login(f.value)">Login</button>
                               </div>
                               <div class="text-black mb-3">Don't have an account? 
                                   <a href="register.html" class="register-link">Register here</a>
                               </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 d-none d-md-block image-container"></div>
        </div>
        </div>
  