/* You can add global styles to this file, and also import other style files */
html, body, app-root {
    height: 100%;
    margin: 0;
    }
    .bg-img{
        min-height: 100vh;
        width: 100%;
        /* background:linear-gradient(to bottom,rgb(4, 4, 102),rgb(195, 243, 245),white)  no-repeat center center fixed; */
        background:url(https://i.pinimg.com/originals/00/12/d0/0012d09eb42a94604b2cc1f8770c18d9.jpg) no-repeat center center fixed; 
    
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }